header { display: flex; flex-flow: row nowrap; justify-content: space-between; position: relative; width: 960px; height: 66px; margin: 0 auto; }
header > .logo { display: flex; align-items: center; }
header > .logo > a { display: block; width: 60px; height: 21px; text-indent: -9999px; background-image: url(../images/line_logo.png); background-size: cover; background-repeat: no-repeat; }
header > nav > .nav { display: flex; align-items: center; position: absolute; left: 78px; height: 66px; }
header > nav > .nav > li { height: 12px; padding: 0 13px 0 13px; border-right: 1px solid #CFCFCF; }
header > nav > .nav > li:first-child { padding-left: 0; }
header > nav > .nav > li:last-child { border-right: none; }
header > form { display: flex; align-items: center; }
header > form > fieldset > select { width: 150px; height: 24px; padding-left: 10px; color: #444444; font-size: 12px; border: 1px solid #DFDFDF; background-image: url(../images/select.png); background-position: 135px center; background-repeat: no-repeat; appearance: none; -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; outline: none; cursor: pointer; }
header > form > fieldset > select:hover { background-color: #F2F2F2; }

section { height: 1300px; border-top: 3px solid #000; }
section > ul:before { content: ''; display: block; position: absolute; width: 190px; height: 190px; }
section > ul:nth-child(1):before { background-image: url(../images/line_looks.png); }
section > ul:nth-child(2):before { background-image: url(../images/line_b612.png); }
section > ul:nth-child(3):before { background-image: url(../images/line-camera.png); }
section > ul { width: 960px; height: 220px; margin: 50px auto; position: relative; border-bottom: 1px solid #d4d4d4; }
section > ul > li { padding-left: 220px; }
section > ul > li > h1 { font-weight: 800; font-size: 40px; }
section > ul > li > h2 { margin-top: 20px; font-weight: 400; font-size: 14px; }
section > ul > li > .android { position: relative; width: 110px; height: 24px; margin-right: 10px; color: white; line-height: 25px; text-indent: 10px; background-color: #707070; border: 1px solid #535353; }
section > ul > li > .android:after { content: ''; display: block; position: absolute; top: 0; right: 0; width: 25px; height: 25px; background-image: url(../images/ico_right.png); background-repeat: no-repeat; }
section > ul > li > .ios { position: relative; width: 90px; height: 24px; margin-right: 10px; color: white; line-height: 25px; text-indent: 10px; background-color: #707070; border: 1px solid #535353; }
section > ul > li > .ios:after { content: ''; display: block; position: absolute; top: 0; right: 0; width: 25px; height: 25px; background-image: url(../images/ico_right.png); background-repeat: no-repeat; }
section > ul > li > .win { position: relative; width: 150px; height: 24px; color: white; line-height: 25px; text-indent: 10px; background-color: #707070; border: 1px solid #535353; }
section > ul > li > .win:after { content: ''; display: block; position: absolute; top: 0; right: 0; width: 25px; height: 25px; background-image: url(../images/ico_right.png); background-repeat: no-repeat; }
section > ul li:last-child { display: flex; margin: 15px 0; }
section > ul li:last-child a { display: block; color: white; }
section ul:nth-child(3) > li:nth-child(2) > .link { display: block; width: 20px; height: 20px; margin: -50px 0 0 250px; text-indent: -9999px; background-image: url(../images/spritePC200706.png); background-position: -995px 0; }
section ul:nth-child(3) > li:nth-child(3) { padding-top: 30px; }
section > .second { display: flex; flex-flow: row wrap; justify-content: space-between; width: 960px; margin: 0 auto; }
section > .second > ul:before { content: ''; display: block; position: absolute; width: 100px; height: 100px; }
section > .second > ul:nth-child(1):before { background-image: url(../images/lineat_96.png); background-size: cover; }
section > .second > ul:nth-child(2):before { background-image: url(../images/lineplay.png); background-size: cover; }
section > .second > ul:nth-child(3):before { background-image: url(../images/line-antivirus.jpg); background-size: cover; }
section > .second ul:nth-child(1) > li:nth-child(2) > .link { display: block; width: 14px; height: 14px; margin: -21px 0 0 40px; text-indent: -9999px; background-image: url(../images/spritePC200706.png); background-position: -881px 0; }
section > .second ul:nth-child(2) > li:nth-child(2) > .link { display: block; width: 14px; height: 14px; margin: -21px 0 0 60px; text-indent: -9999px; background-image: url(../images/spritePC200706.png); background-position: -881px 0; }
section > .second > ul { width: 480px; height: 220px; position: relative; }
section > .second > ul > li { padding-left: 120px; padding-top: 5px; }
section > .second > ul > li h1 { font-size: 12px; }
section > .second > ul > li h2 { font-weight: 400; font-size: 12px; }
section > .second > ul > li > .android { position: relative; width: 110px; height: 24px; margin-right: 10px; color: white; line-height: 25px; text-indent: 10px; background-color: #707070; border: 1px solid #535353; }
section > .second > ul > li > .android:after { content: ''; display: block; position: absolute; top: 0; right: 0; width: 25px; height: 25px; background-image: url(../images/ico_right.png); background-repeat: no-repeat; }
section > .second > ul > li > .ios { position: relative; width: 90px; height: 24px; margin-right: 10px; color: white; line-height: 25px; text-indent: 10px; background-color: #707070; border: 1px solid #535353; }
section > .second > ul > li > .ios:after { content: ''; display: block; position: absolute; top: 0; right: 0; width: 25px; height: 25px; background-image: url(../images/ico_right.png); background-repeat: no-repeat; }
section > .second > ul li:last-child { display: flex; margin: 15px 0; }
section > .second > ul li:last-child a { display: block; color: white; }

footer { position: relative; height: 200px; padding-top: 10px; background-color: #3B3B3B; }
footer > .footernav > ul { display: flex; width: 960px; margin: 30px auto; }
footer > .footernav > ul > li { height: 10px; line-height: 10px; border-right: 1px solid #525151; }
footer > .footernav > ul > li a { font-size: 13px; display: block; margin: 0 10px; color: #929090; }
footer > .footernav > ul li:last-child { border-right: none; }
footer > .sns > ul { width: 960px; margin: 0 auto; position: relative; }
footer > .sns > ul > .sprite1 { position: absolute; left: 10px; width: 40px; height: 30px; background-position: -1051px -10px; background-size: cover; }
footer > .sns > ul > .sprite1 > a { display: block; height: 30px; text-indent: -9999px; background-repeat: no-repeat; background-image: url(../images/youtube.jpg); }
footer > .sns > ul > .sprite2 { position: absolute; left: 55px; top: -5px; width: 32px; height: 30px; background-position: -817px 0; background-size: cover; }
footer > .sns > ul > .sprite2 > a { display: block; height: 30px; text-indent: -9999px; background-repeat: no-repeat; background-image: url(../images/facebook.JPG); }
footer > address { width: 960px; margin: 70px auto; padding-left: 15px; color: #929090; font-weight: 800; }

/*# sourceMappingURL=app.css.map */
